PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix-agent/zabbix_agentd.log
LogFileSize=0
Server={{ zabbix_server_hostname }}
ListenPort={{ zabbix_listen_port }}
# ListenIP=0.0.0.0
#ServerActive={{ zabbix_server_hostname }}
Hostname={{ zabbix_agent_hostname }}

Include=/etc/zabbix/zabbix_agentd.conf.d/

#custom monitoring scripts
#memcache monitoring
UserParameter=memcache[*],/etc/zabbix/scripts/memcache-stats.sh "none" $1

#nginx monitoring
UserParameter=nginx.ac,curl http://{{ nginx_vhost_server_name }}/nginx-stats |grep Active| cut -f2 -d":"
UserParameter=nginx.readsr,curl http://{{ nginx_vhost_server_name }}/nginx-stats |grep Reading |cut -f2 -d":"|cut -f1 -d"W"
UserParameter=nginx.writr,curl http://{{ nginx_vhost_server_name }}/nginx-stats |grep Reading |cut -f3 -d":"|cut -f1 -d"W"
UserParameter=nginx.waitingr,curl http://{{ nginx_vhost_server_name }}/nginx-stats |grep Reading |cut -f4 -d":"|cut -f1 -d"W"

#exim monitoring
UserParameter=exim4[*],sudo /etc/zabbix/scripts/exim.sh \$1

#mysql monitoring
UserParameter=mysql[*],/etc/zabbix/scripts/mysql_stats.sh $1 root {{ root_db_password }}

#hdd monitoring
UserParameter=custom.vfs.dev.read.ops[*],cat /proc/diskstats | grep $1 | head -1 | awk '{print $$4}'
UserParameter=custom.vfs.dev.read.ms[*],cat /proc/diskstats | grep $1 | head -1 | awk '{print $$7}'
UserParameter=custom.vfs.dev.write.ops[*],cat /proc/diskstats | grep $1 | head -1 | awk '{print $$8}'
UserParameter=custom.vfs.dev.write.ms[*],cat /proc/diskstats | grep $1 | head -1 | awk '{print $$11}'
UserParameter=custom.vfs.dev.io.active[*],cat /proc/diskstats | grep $1 | head -1 | awk '{print $$12}'
UserParameter=custom.vfs.dev.io.ms[*],cat /proc/diskstats | grep $1 | head -1 | awk '{print $$13}'
UserParameter=custom.vfs.dev.read.sectors[*],cat /proc/diskstats | grep $1 | head -1 | awk '{print $$6}'
UserParameter=custom.vfs.dev.write.sectors[*],cat /proc/diskstats | grep $1 | head -1 | awk '{print $$10}'

