[mysqld]
user                    = mysql
pid-file                = /var/run/mysqld/mysqld.pid
socket                  = /var/run/mysqld/mysqld.sock
port                    = 3306
basedir                 = /usr
datadir                 = /var/lib/mysql
tmpdir                  = /tmp

event_scheduler		= 1

default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1
max_allowed_packet      = 16M
max_connections        = 100
thread_cache_size       = 8

query_cache_limit       = 1M
query_cache_size        = 128M

max_heap_table_size=33554432
tmp_table_size=33554432

table_open_cache        = 2000
table_definition_cache  = 2000
query_cache_min_res_unit        = 2048
#key_buffer_size         = 16777216


innodb_log_file_size = 50M
old_passwords=0

innodb_stats_on_metadata = 0
innodb_flush_log_at_trx_commit = 0

key_buffer              = 2M
key_buffer_size         = 128M
open_files_limit = 8000
max_connect_errors             = 1000000
skip_name_resolve
sysdate_is_now                 = 1

# INNODB #
innodb_flush_method            = O_DIRECT
innodb_log_files_in_group      = 2
innodb_log_file_size           = 100M
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table          = 1
innodb_buffer_pool_size	       ={{ mysql_innodb_buffer_pool_size }}
join_buffer_size        = 1M

