server {
        listen *:80;
        server_name pma.{{ nginx_vhost_server_name }} pma.{{ example }}.*;
        allow 127.0.0.1;
        #allow x.x.x.x;
        allow all;
        #deny all;

        # host_without_www
        if ($host ~* www\.(.*)) {
          set $host_without_www $1;
          rewrite ^(.*)$ http://$host_without_www$1 permanent;
        }

        client_max_body_size 100M;

        root /usr/share/phpmyadmin;
        index  index.php;
        #auth_basic              "Login";
        #auth_basic_user_file    /etc/nginx/html/.htpasswd;

        location / {
                if (!-e $request_filename) {
                rewrite ^/(.*)$ /index.php?q=$1 last;
                }
        }

        location ~ \.php$ {
                fastcgi_pass   127.0.0.1:9000;
                fastcgi_index  index.php;
                fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
                include fastcgi_params;
                fastcgi_ignore_client_abort     off;
                fastcgi_connect_timeout 60;
                fastcgi_read_timeout 240;
                fastcgi_buffer_size 16M;
                fastcgi_buffers 4 32M;
                fastcgi_busy_buffers_size 64M;
                fastcgi_temp_file_write_size 64M;
        }

        location ~ /\.ht { deny  all; }

        location ~* ^(?:.+\.(?:htaccess|make|txt|engine|inc|info|install|module|profile|po|sh|.*sql|theme|tpl(?:\.php)?|xtmpl)|code-style\.pl|/Entries.*|/Repository|/Root|Tag|Template)$ {
            rewrite  ^/(.*)$  /index.php?q=$1  last;
        }
}

